/* Error: There is no module with the namespace "mixins".
 *    ,
 * 10 | /   @include mixins.tablet {
 * 11 | |     grid-template-columns: repeat(2, 1fr);
 * 12 | \   }
 *    '
 *   sass\generales\_cards.scss 10:3  @use
 *   sass\main.scss 6:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mixins".\a    \2577 \a 10 \2502  \250c    @include mixins.tablet {\a 11 \2502  \2502      grid-template-columns: repeat(2, 1fr);\a 12 \2502  \2514    }\a    \2575 \a   sass\\generales\\_cards.scss 10:3  @use\a   sass\\main.scss 6:1               root stylesheet';
}
